In [16]:
#q1.
def next_in_line(l,n):
    if len(l) != 0:
        for i in l:
            if l.index(i)==0:
                l.remove(i)
            break
        l.append(n)
        return l
    else:
        print("No list has been selected")

In [17]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [18]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [19]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [20]:
next_in_line([], 6)

No list has been selected

In [48]:
#q2.
def get_budgets(d):
    t=0
    for i in d:
        t+=i.get('budget')
    print(t)

In [49]:
d=[{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }]

In [50]:
get_budgets(d)

65700

In [51]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }])

62600

In [7]:
#q3.
def alphabet_soup(string):
    l=[i for i in string]
    l.sort()
    return "".join(l)

In [9]:
alphabet_soup('hello')

'ehllo'

In [10]:
alphabet_soup('javascript')

'aacijprstv'

In [11]:
alphabet_soup('geek')

'eegk'

In [44]:
#q4.
def compound_interest(P,t,r,n):
    return P*(1 + r/n)**(n*t)

In [49]:
compound_interest(10000,10,0.06,12)

18193.9673403229

In [50]:
#Q5.
def return_only_integer(l):
    k=[]
    for i in l:
        if type(i)==int:
            k.append(i)
    return k

In [51]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [52]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [53]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [54]:
return_only_integer(["String", True, 3.3, 1])

[1]