In [5]:
#q1.

def is_symmetrical(num):
    char_num=str(num)
    k=[]
    r=1
    for i in range(-1,-len(char_num)+1,-1):
        k.append(char_num[i]==char_num[i+r])
        r+=2  
    return all(k)

In [6]:
is_symmetrical(7227)

True

In [7]:
is_symmetrical(12567)

False

In [8]:
is_symmetrical(44444444)

True

In [9]:
is_symmetrical(9939)

False

In [10]:
is_symmetrical(1112111)

True

In [11]:
#q2.
def multiply_nums(string):
    l=string.split(",")
    prod=1
    for i in l:
        prod*=int(i)
    return prod

In [12]:
multiply_nums("2,3")

6

In [13]:
multiply_nums("1,2,3,4")

24

In [14]:
multiply_nums("54,75,453,0")

0

In [15]:
multiply_nums("10,-2")

-20

In [26]:
#q3.
def square_digits(num):
    l=[str(int(i)**2) for i in str(num)]
    return int("".join(l))

In [28]:
square_digits(9119)

811181

In [30]:
square_digits(2483)

416649

In [31]:
square_digits(3212)

9414

In [47]:
#q4.

def setify(l):
    t=[]
    for i in l:
        if i not in t:
            t.append(i)
    t.sort()
    return t

In [48]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [49]:
setify([4, 4, 4, 4])

[4]

In [50]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [51]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [52]:
#q5.

def mean(num):
    s=0
    for i in str(num):
        s+=int(i)
    return s//len(str(num))

In [53]:
mean(42)

3

In [54]:
mean(12345)

3

In [55]:
mean(666)

6