In [6]:
#q1.
def greater_length(k,lst):
    l=[]
    for i in lst:
        if len(i)>k:
            l.append(i)
    return l    
            

greater_length(3,["The","fox","ate","grapes","silently"])

['grapes', 'silently']

In [13]:
#q2.
def remove_ith(n,lst):
    l=[]
    for i in lst:
        if lst.index(i)==n:
            pass
        else:
            l.append(i)
    return l        
            
            
remove_ith(2,[1,2,3,4])

[1, 2, 4]

In [15]:
#q3.

string="the fox ate the grapes silently"
list1=string.split()
list1

['the', 'fox', 'ate', 'the', 'grapes', 'silently']

In [17]:
list1=["the","fox","ate","grapes"]
string1=" ".join(list1)
string1

'the fox ate grapes'

In [28]:
#q4.

string="010101"
def binary(string):
    p=set(string)
    s={'0','1'}
    if p==s or p=={'0'} or p=={'1'}:
        print("yes")
    else:
        print("no")

binary("10101")

yes

In [38]:
#q5.

string1="my name is Rahul"
string2="MY name is SAM"

string1=string1.upper()
string2=string2.upper()

s1=set(string1.split())
s2=set(string2.split())

s1.intersection(s2)

In [44]:
#q6.
s1.difference(s2)

{'RAHUL'}

In [45]:
s2.difference(s1)

{'SAM'}

In [55]:
#q7.

string1="this is the way he went to school by bus and then he went to the mall"
list1=string1.split( )
duplicates=set()
for i in list1:
    
    if list1.count(i)>1:
        duplicates.add(i)
print(duplicates)

{'went', 'he', 'to', 'the'}

In [14]:
#q8.
import string
x="hello@"
y=set(string.punctuation)
for i in range(len(x)):
    if x[i] in y:
        print("contains special characters")
        break
    else:
        pass

contains special characters